#
# You should adapt this part to your usage
#
config = {
    'base-host': "http://default.tld",
    'ipxe-template': "/opt/ipxe-template",
    'ipxe-template-uefi': "/opt/ipxe-template-uefi",

    'kernel-path': '/tmp/kernels',

    'http-port': 5555,

    # enable debug or production mode
    'debug': True,

    'popular': ['master', 'development'],
    'popular-description': {
        'master': 'Stable release',
        'development': 'Staging version',
    },

    # sqlite3 database used for provisioning
    'bootstrap-db': 'db/bootstrap.sqlite3',
    'logs-db': 'db/logs.sqlite3',

    # provision password protection
   'provision-password': '',
}
