<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Zero-OS Bootstrap">
    <meta name="author" content="Green IT Globe">

    <title>Zero-OS Bootstrap</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css">
    <link href="/static/bootstrap.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Zero-OS Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/generate">Generator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/branches">Branches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/images">Images list</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome to Zero-OS</h1>
          <p>This bootstrap server gives you access to all the builds we made for Zero-OS.</p>
          <p>On these pages, you'll find all the branches (versions) we made.
          But if you are a new user and don't know what to do with this page,
          click on this button to go to the generator page, we will assist you !</p>
          <p><a class="btn btn-primary btn-lg" href="/generate" role="button">Assistant &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Popular branches</h2>
            <table class="table table">
              <thead>
                <tr>
                  <th scope="col">Branch name</th>
                  <th scope="col">Target</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
              {% for link in links %}
                <tr>
                    <td><a class="kernel" href="/generate/{{ link['branch'] }}">{{ link['branch'] }}</a></td>
                    <td><code>{{ link['target'] }}</code></td>
                    <td><a href="/kernel/{{ link['name'] }}"><span class="octicon octicon-arrow-down"></span></a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
