<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Zero-OS Bootstrap">
    <meta name="author" content="Green IT Globe">

    <title>Zero-OS Bootstrap :: Images (kernels)</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Roboto:300&display=swap" rel="stylesheet">
    <link href="/static/bootstrap.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container">
      <a class="navbar-brand" href="/">Zero-OS Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Generator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/images">Images list <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/expert">Expert mode</a>
          </li>
        </ul>
      </div>
      </div>
    </nav>

    <main role="main">
      <div class="container container-single">
        <div class="row">
          <div class="col-md-12">
            <h2>Full list of kernel we built</h2>
            <table class="table table-sm table-normal-head">
              <thead>
                <tr>
                  <th scope="col">Kernal name</th>
                  <th scope="col">Updated</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
              {% for file in files %}
                <tr>
                    <td>
                        <a class="kernel" href="/kernel/{{ file['name'] }}">{{ file['release'] }}</a>
                    </td>
                    <td>{{ file['updated'] }}</td>
                    <td><a href="/kernel/{{ file['name'] }}"><span class="octicon octicon-arrow-down"></span></a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </main>
  </body>
</html>
